<%= form_with model: @order do |f| %>
  <div class="row">
    <%= f.label :girl_name %>
    <%= f.text_field :girl_name %>
  </div>
  <% Order::COOKIE_TYPES.each do |type| %>
    <div class="row cookie-<%= type %>">
      <%= f.label type %>
      <%= f.number_field type %>
    </div>
  <% end %>
  <div class="row">
    <%= f.submit %>
  </div>
<% end %>