<% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>

    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @order, local: true do |f| %>
  <table>
    <tr>
      <td><%= f.label :girl_name %></td>
      <td><%= f.text_field :girl_name %></td>
    </tr>

    <tr>
      <td><%= label_tag %></td>
      <td>In-person</td>
      <td>Online</td>
      <td>Total</td>
    </tr>

    <% Order::COOKIE_TYPES.each do |type| %>
      <tr class="cookie-<%= type %>">
        <td><%= f.label type %></td>
        <td><%= f.number_field type %></td>
        <td><%= f.number_field "#{type}_online" %></td>
        <td><%= text_field_tag "#{type}_total", @order.total_for(type), disabled: true, class: 'total' %></td>
      </tr>
    <% end %>

    <tr>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>

<script>
  new OrderPage();
</script>
