<%= form_with model: @order do |f| %>
  <table>
    <tr>
      <td><%= f.label :girl_name %></td>
      <td><%= f.text_field :girl_name %></td>
    </tr>

    <tr>
      <td><%= label_tag %></td>
      <td>In-person</td>
      <td>Online</td>
    </tr>

    <% Order::COOKIE_TYPES.each do |type| %>
      <tr class="cookie-<%= type %>">
        <td><%= f.label type %></td>
        <td><%= f.number_field type %></td>
        <td><%= f.number_field type %></td>
      </tr>
    <% end %>

    <tr>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>