<% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>

    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @order, local: true do |f| %>
  <table>
    <tr>
      <td><%= f.label :girl_name %></td>
      <td><%= f.text_field :girl_name %></td>
    </tr>

    <tr>
      <td><%= label_tag %></td>
      <td>In-person</td>
      <td>Online</td>
      <td>Total</td>
    </tr>

    <% Order::COOKIE_TYPES.each do |type| %>
      <tr class="cookie-<%= type %>">
        <td><%= f.label type %></td>
        <td><%= f.number_field type, data: { order_type: "in-person" }, class: "order-in-person" %></td>
        <td><%= f.number_field "#{type}_online", data: { order_type: "online" }, class: "order-online" %></td>
        <td><%= text_field_tag "#{type}_total", @order.total_for(type), disabled: true, class: 'total' %></td>
      </tr>
    <% end %>

    <tr>
      <td><%= label_tag 'Total' %></td>
      <td><%= text_field_tag "in_person_total", @order.total(:in_person), disabled: true, class: 'in-person-total' %></td>
      <td><%= text_field_tag "online_total", @order.total(:online), disabled: true, class: 'online-total' %></td>
      <td><%= text_field_tag "total", @order.total, disabled: true, class: 'final-total' %></td>
    </tr>

    <tr>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>

<script>
  new OrderPage();
</script>
